<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Inscription</h3>

            <form class="px-md-2" (submit)="register()" [formGroup]="registerForm" >
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Nom</label>
                <input type="text" id="form3Example1q" class="form-control"  formControlName="lastname" [(ngModel)]="user.lastname"/>
                <div *ngIf="lastNameCtrl.dirty && lastNameCtrl.hasError('minlength')" class="text-danger">Le nom doit faire au minimum 2 caractères</div>
                <div *ngIf="lastNameCtrl.dirty && lastNameCtrl.hasError('required')" class="text-danger">Le nom est requis</div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Prénom</label>

                <input type="text" id="form3Example1q" class="form-control" formControlName="firstname" [(ngModel)]="user.firstname"/>
                <div *ngIf="firstNameCtrl.dirty && firstNameCtrl.hasError('minlength')" class="text-danger">Le prenom doit faire au minimum 2 caractères</div>
                <div *ngIf="firstNameCtrl.dirty && firstNameCtrl.hasError('required')" class="text-danger">Le prenom est requis</div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Email</label>
                <input type="email" id="form3Example1q" class="form-control" formControlName="email" [(ngModel)]="user.email" />
                <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('email')" class="text-danger">Veuillez rentrer une addresse e-mail</div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q"
                  >Mot de passe</label
                >
                <input
                  type="password"
                  id="form3Example1q"
                  class="form-control"
                  formControlName="password" [(ngModel)]="user.password"
                  minlength="5"
                />
                <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('minlength')" class="text-danger">Le mot de passe doit faire au minimum 5 caractères</div>
                <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')" class="text-danger">Le mot de passe est requis</div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q"
                  >Confirmation du mot de passe</label
                >
                <input
                  type="password"
                  id="form3Example1q"
                  class="form-control"
                  formControlName="passwordConfirm"
                />
                <div *ngIf="passwordConfirmCtrl.dirty && registerForm.hasError('notSame')" class="text-danger">Les mots de passe ne sont pas similaires</div>

              </div>

              <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success btn-lg mb-1">
                S'inscrire
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
