<section>
            <h3>Connexion</h3>

            <form (ngSubmit)="login()" [formGroup]="userLoginForm">
              <div>
                <label for="form3Example1q"
                  >Adresse e-mail</label
                >
                <input
                  type="email"
                  name="email"
                  formControlName="email"
                  [(ngModel)]="user.email"
                  class="form-control"
                  required
                  email
                />
                <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('email')">Veuillez rentrer une addresse e-mail</div>
              </div>

              <div>
                <div>
                  <div>
                    <label for="exampleDatepicker1" class="form-label"
                      >Mot de passe</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      required
                      formControlName="password"
                      [(ngModel)]="user.password"
                    />
                  </div>
                </div>
                <div *ngIf="errors.length > 0">Email et/ou mot de passe incorrect.</div>
              </div>
              <app-button-cta text="Se connecter" bgColor="bg-basePurple"></app-button-cta>
              <button [disabled]="userLoginForm.invalid" type="submit">
                Se connecter
              </button>
            </form>
            <p  class="px-md-2">Pas de compte ? <a routerLink="/register">S'inscrire</a></p>
</section>
