<section class="w-full mx-auto mt-12">
  <h3 class="text-center font-bold text-xl">Connexion</h3>
  <form (ngSubmit)="login()" [formGroup]="userLoginForm" class="mt-5">
    <div class="flex justify-center flex-col items-center">
      <div class="flex justify-center items-start flex-col">
        <label for="form3Example1q"
          >Adresse e-mail</label
        >
        <input
          type="email"
          name="email"
          formControlName="email"
          [(ngModel)]="user.email"
          class="input"
          required
          email
        />
        <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('email')" class="text-red-500">Veuillez rentrer une adresse e-mail</div>
      </div>
      <div class="flex justify-center items-start flex-col mt-5">
          <label for="exampleDatepicker1" class="form-label"
            >Mot de passe</label
          >
          <input
            type="password"
            class="form-control"
            name="password"
            required
            formControlName="password"
            [(ngModel)]="user.password"
            class="input"
          />
        <div *ngIf="errors.length > 0" class="text-red-500">Email et/ou mot de passe incorrect.</div>
      </div>
      <div class="flex flex-col justify-center items-start">
        <app-button-cta text="Se connecter" form="userLoginForm" class="mt-5"></app-button-cta>
        <p  class="mt-5">Pas de compte ? <a routerLink="/register" class="font-bold text-basePurple">S'inscrire</a></p>
      </div>
      <a href="http://127.0.0.1:8000/connect/github">
        <div class="p-5  mt-5 rounded-lg border-2 flex justify-center items-center">
            <div class="mr-5">
              <img src="assets/images/svg/github.svg" alt="git logo">
            </div>
            <p>Se connecter avec github</p>
        </div>
      </a>
    </div>
  </form>
</section>
