<section class="mx-auto">
    <form class="" (submit)="sendData()" [formGroup]="passwordForm" >
        <div class="flex flex-col justify-center items-center">
            <div class="input-container flex-col mt-5">
                <label class="" for="form3Example1q"
                >Mot de passe</label
                >
                <input
                type="password"
                class="input"
                formControlName="password" [(ngModel)]="user.plainPassword"
                />
                <div *ngIf="passwordCtrl?.dirty && passwordCtrl?.hasError('minlength')" class="text-error">{{ 'app.form.error.password.min_length'|translate }}</div>
                <div *ngIf="passwordCtrl?.dirty && passwordCtrl?.hasError('required')" class="text-error">{{ 'app.form.error.password.required'|translate }}</div>
                <div *ngIf="errors['password']" class="text-error">{{ errors['password']|translate }}</div>
            </div>
            <div class="input-container flex-col mt-5">
                <label class="" for="form3Example1q">
                Confirmation du mot de passe
                </label>
                <input
                type="password"
                class="input"
                formControlName="passwordConfirm"
                />
                <div *ngIf="passwordConfirmCtrl?.dirty && passwordForm.hasError('notSame')" class="text-error">{{ 'app.form.error.password_confirm.not_same'|translate }}</div>
            </div>
            <div class="mt-5">
                <app-button-cta text="Modifier votre mot de passe"></app-button-cta>
            </div>
        </div>
    </form>
  </section>