<app-product-search-bar (productSearchQuery)="refreshBookList($event)"></app-product-search-bar>
<div *ngIf="isLoading">
    <app-spinner-data-loader></app-spinner-data-loader>
</div>
<div *ngIf="!isLoading">
    <div class="">
        <p *ngIf="productSearchQuery.length > 0" class="text-center mt-0 mb-4">{{ trueBookListLength }} pour '<strong>{{ productSearchQuery}}'</strong>.
            <a role="button" (click)="getAllBooks()" class="text-bold text-indigo-800 ">Réinitialiser la recherche</a>
        </p>
    </div>
    <div [hidden]="isLoading" class="flex flex-col items-stretch lg:flex-row mx-auto xl:container my-5">
        <app-book-filters class="lg:w-3/12 h-auto xl:w-3/12" (reloadProductsEmmiter)="getAllBooks($event)"></app-book-filters>
        <div class="col-span-5 lg:col-span-4 lg:ml-5 mx-auto">
            <div class="grid grid-cols-1 justify-around items-stretch md:grid-cols-2 xl:grid-cols-3">
                <app-product-tile *ngFor="let article of articleList" [article]="article" class="px-2 flex items-stretch mb-5"></app-product-tile>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center">
        <app-pagination (changePageEmmiter)="getAllBooks($event)" [pagination]="pagination"></app-pagination>
    </div>
</div>

