<app-product-search-bar (productSearchQuery)="refreshBookList($event)"></app-product-search-bar>
<div class="container">
    <p *ngIf="productSearchQuery.length > 0">{{ trueBookListLength }} pour '<strong>{{ productSearchQuery}}'</strong>.
        <a role="button" (click)="getAllBooks()" class="underlines">Réinitialiser la recherche</a>
    </p>
</div>
   
<div class="container w-60">
    <div class="row">
        <app-product-tile *ngFor="let article of articleList" [article]="article" class="col-sm-12 col-md-6 col-lg-4 g-4"></app-product-tile>
    </div>
</div>
