<div class="col-span-1 bg-gray-300 hidden lg:block">
    <h3 class="text-bold text-xl text-center">Filtres</h3>
    <form #formatForm="ngForm" (ngSubmit)="filterBooks()" class="pl-5">
        <h3 class="text-xl font-semibold">Formats</h3>
        <div *ngFor="let format of bookFormats, let i = index" class="pr-2 py-1">
            <input id="{{ format.name }}" type="checkbox" name="{{format.name}}" [(ngModel)]="format.checked" class="cursor-pointer mr-1">
            <label for="{{ format.name }}">{{ format.name }}</label>
        </div>
        <div class="w-28">
            <app-button-cta text="Filtrer"></app-button-cta>
        </div>
    </form>
</div>