
<div class="w-full">
    <button (click)="toggleOpenLayer()" class="p-2 rounded-full border-2 border-black" type="submit">
        <img class="w-8" src="assets/images/cart.png">
    </button>
</div>
<div *ngIf="openLayer" class="variant-listing absolute w-full bg-white p-4 border-2 border-gray-600 rounded-lg -left-2 bottom-0 transform">
    <div class="variant-listing-content flex flex-col justify-between w-full">
        <div class="mb-2" *ngFor="let variant of article.variants">
            <div class=" w-full border-b-2 border-b-gray-300 p-2 pb-4 flex justify-between items-center">
                <div class="w-full flex items-center justify-start">
                    <div class="text-sm">
                        <p *ngIf="variant.format !== undefined">{{ variant.format.name }}:</p>
                    </div>
                    <div class="text-sm font-bold pl-2">
                        <p *ngIf="variant.format !== undefined">{{ variant.unitPrice|showPrice }}€</p>
                    </div>
                </div>
                <div class="mr-4">
                    <div class="w-10">
                        <app-simple-add-to-cart-button [variant]="variant"></app-simple-add-to-cart-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-end items-center pt-4 pr-5">
            <div class="w-12" (click)="toggleOpenLayer()">
                <img src="assets/images/close.svg" alt="">
            </div>
        </div>
    </div>
</div>



