<div class="flex p-4 mb-5 border-2 justify-between mx-auto sm:w-96 lg:w-96">
    <div class="flex flex-start">
        <div class="">
            <img src="{{ imageUrl + variant.parent?.image }}" alt="Image de {{ variant.parent?.title }}" class="w-16 object-cover">
        </div>
        <div class="w-2/3 pl-2 flex flex-col justify-between">
            <p class="text-sm font-bold pb-1">{{ variant.parent?.title }}</p>
            <div class="">
                <p class="text-xs">{{ variant.parent?.editor }}</p>
                <p class="text-xs">Édition {{ variant.format?.name }}</p>
            </div>
        </div>
    </div>
    <div class=" flex flex-col items-end justify-between">
        <app-product-quantity-increment [variant]="variant"></app-product-quantity-increment>
        <div class="flex justify-between items-end">
            <div class="text-basePurple pr-3">
                {{ variantsPrice|showPrice }}€
            </div>
            <div class="w-6" (click)="deleteVariant(variant)">
                <img src="assets/images/svg/delete.svg" alt="">
            </div>
        </div>
        
    </div>
</div>