
<div class="article-tile card p-5">
    <img src="{{ article.image }}" alt="" class="w-50 lg-w-50 img card-img-top m-auto">
    <div class="card-body">
        <h6 class="card-title">{{article.title}}</h6>
    </div>
    <div class="row">
        <p>{{ article.unitPrice|showPrice }}€</p>
        <button class="btn btn-primary mb-1" (click)="addToCart()">Ajouter au panier</button>
        <button class="btn btn-primary" routerLink="product/{{article.id}}">Voir la fiche produit</button>
    </div>
</div>