
<div class="article-tile card p-5">
    <img src="{{ article.image }}" alt="" class="w-50 lg-w-50 img card-img-top m-auto">
    <div class="card-body">
        <h6 class="card-title">{{article.title}}</h6>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between">
            <p>{{ article.unitPrice|showPrice }}€</p>
            <p *ngIf="!isArticleInStock" class="text-danger">Hors stock</p>
        </div>
        <div>
            <form (ngSubmit)="addToCart()"  #productQuantity="ngForm">
                <input *ngIf="isArticleInStock" type="number" [(ngModel)]="inputQuantity" [max]="maxAvailable" name="inputQuantity" min="1">
                <button class="btn btn-primary mb-1" [disabled]="!isArticleInStock" type="submit">Ajouter au panier</button>
            </form>
        </div>
        <button class="btn btn-primary" routerLink="product/{{article.id}}">Voir la fiche produit</button>
    </div>
</div>