<footer class="w-full mt-32 md:mt-80 md:pt-36 md:pb-40 relative bottom-0 left-0 right-0 bg-basePurple text-white font-medium p-5">
    <div class="flex justify-center items-center w-full">
        <img src="assets/images/Logo_l2i.png" alt="">
    </div>
    <div class="">
        <div class="flex flex-col justify-between items-start pl-8">
            <p class="py-5">L2i, la librairie en ligne pour se former aux métiers de la tech</p>
            <p class="py-5">Site réalisé par <a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-vandermoeten-kerckhove-b0133515a/" class="font-bold">Jérémy Vandermoeten Kerckhove</a></p>
        </div>
    </div>
</footer>
