<header>
    <div class="bg-basePurple mx-0 w-full py-5 flex justify-center items-center flex-col md:flex-row md:h-20 md:justify-around ">
        <div class="w-full flex justify-around px-4 h-20 items-center md:flex-row ">
            <div class="logo">
                <a class="text-decoration-non text-white" href="/">Accueil</a>
            </div>
            <div class="flex items-center justify-end md:flex-row text-white w-80 ">
                <div *ngIf="user" class="">
                    <a [routerLink]="['/user/dashboard/data']">
                        <img src="assets/images/icons/icons8-utilisateur-64.png" alt="">
                    </a>
                </div>
                <div *ngIf="!user" class="mr-4">
                    <a class="" routerLink="login">Se connecter</a>
                </div>
                <div>
                        <app-cart class="relative"></app-cart>
                </div>
                <div *ngIf="user" class="">
                    <a class="" (click)="logout()">Se Déconnecter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center break-words font-bold  mt-5 w-full">
        <h1 class="break-words">Les meilleurs livres de formation sont chez L2i</h1>
    </div>
</header>